<!DOCTYPE html>
<html>
<head>
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta http-equiv="Content-Security-Policy" content="data: 'unsafe-inline'; connect-src * 'unsafe-inline';" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script>if(!document.cookie.match(/authAppUserID=\d+/))location.assign('../../SessionControl/views/SessionControl.html')</script>
<link rel="stylesheet" href="../../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../../css/font-awesome.min.css">
<script src="../../../lib/jquery-3.1.1.min.js"></script>
<script src="../../../lib/tether.min.js"></script>
<script src="../../../lib/bootstrap.min.js"></script>
<script src="../../../lib/pg.js"></script>
<style>.highlight{background:lightyellow}.carousel-control-prev,.carousel-control-next{opacity:0!important}</style>
</head>
<body>
<div style="border-bottom:2px solid navy;text-align:right;padding:0.4em 1em;"><img src="../../../img/eurocontrol_logo.png" style="height:3vw;" /></div>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" href="#">&nbsp;</a>
	
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link" style="padding:0.5em 2em;" href="../../MyDuties/views/MyDuties.html">My duties</a></li>
			<li class="nav-item"><a class="nav-link" style="padding:0.5em 2em;" href="../../MyDuties/views/Request.html">Request duty</a></li>
			<li class="nav-item"><a class="nav-link" style="padding:0.5em 2em;" href="../../Planner/views/MiniPlanner.html">MiniPlanner</a></li>
			<li class="nav-item"><a class="nav-link" style="padding:0.5em 2em;" href="../../LeaveAbsences/views/Sick.html">Report sick</a></li>
			<li class="nav-item"><a class="nav-link" style="padding:0.5em 2em;" href="#" id="pilotSummaryTrigger">Pilot hours</a></li>
			<li class="nav-item"><a class="nav-link" style="padding:0.5em 2em;" href="#" id="team_SummaryTrigger">Team roster</a></li>
		</ul>
	</div>
</nav>
<div class="row" style="margin:1em 0;"><div class="col-lg-12 col-xl-10 offset-xl-1">

<link rel="stylesheet" href="../../../css/checkbox.css">
<style>

[data-toggle=buttons] .btn input[type=checkbox] {
	position: absolute;
	clip: rect(0,0,0,0);
	pointer-events: none;
}

.thumbnail {
	padding: 1em;
}

.avatar {
	height: 10vh;
	width: 10vh;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	border-radius: 50%;
}

.btn {
	cursor: pointer;
}

#swapCardTemplate {
	display: none;
}

.swapping {
	background: repeating-linear-gradient(45deg,#eee,#eee 20px,#ddd 20px,#ddd 40px) !important;
}

</style>

<div class="row" style="margin:0;">
	<div id="swapContainer" class="col-sm-12">
		<div id="swapCardTemplate">
			<div class="col-md-5">
				<div class="thumbnail">
					<div style="display:flex;">
						<div style="display:table-cell;padding:0 3em 0 1em;">
							<div class="avatar" style="background-image:url(../../../img/blank_avatar.png);"></div>
						</div>
						<div class="swap-requesting" style="display:table-cell;font-size:2.3vh;padding-top:1.1em;">STR1</div>
					</div>
				</div>
			</div>
			<div class="col-md-2 hidden-sm-down" style="font-size:3em;padding:0.4em;text-align:center;"></div>
			<div class="col-md-5">
				<div class="thumbnail">
					<div style="display:flex;justify-content:flex-end;">
						<div class="swap-target" style="display:table-cell;font-size:2.3vh;padding-top:1.1em;">STR2</div>
						<div style="display:table-cell;padding:0 1em 0 3em;">
							<div class="avatar" style="background-image:url(../../../img/blank_avatar.png);"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12"><h3 style="text-align:center;border-bottom:1px solid #ddd;">&nbsp;</h3></div>
			<div class="col-md-12"><form></form></div>
			<div class="col-md-12"><h3 style="text-align:center;border-bottom:1px solid #ddd;">&nbsp;</h3></div>
			<div class="col-md-3"             style="padding:1em;"><button type="button" class="btn btn-danger"  style="width:100%;">Decline</button></div>
			<div class="col-md-3 offset-md-6" style="padding:1em;"><button type="button" class="btn btn-success" style="width:100%;">Approve</button></div>
		</div>
	</div>
</div>
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header"><h5 class="modal-title"></h5></div>
			<div class="modal-body" data-toggle="buttons">Comments:<br><br><textarea class="form-control" style="min-height:15vh;"></textarea><br><label class="btn" style="padding:0;"><input type="checkbox" /><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span style="left:40px;font-size:1.2em;">Send SMS to pilots</span></label></div>
			<div class="modal-footer">
				<button type="button" class="btn" style="width:100%;"></button>
			</div>
		</div>
	</div>
</div>
<script src="../../../modules/Planner/js/ManageSwaps.js"></script>
<div class="modal fade" id="pilotSummaryModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><table style="width:100%;"><thead><tr><th></th><th>Hours</th><th>Points</th><th>Miles</th></tr></thead><tbody></tbody></table></div>
			<div class="modal-footer"><button type="button" class="btn btn-secondary" style="background:#ddd;" data-dismiss="modal">Close</button></div>
		</div>
	</div>
</div>
<div class="modal fade" id="team_SummaryModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body" style="padding:10px;">
				<div class="row" style="width:105%;">
					<div class="col-sm-4" style="padding-right:0;">
						<table style="border-bottom:1px solid #666;border-left:1px solid #666;width:100%;"><tbody id="carouselLegend"></tbody></table>
					</div>
					<div class="col-sm-8" style="padding:0;">
						<div id="teamCarousel" class="carousel slide">
							<div class="carousel-inner"></div>
							<a class="carousel-control-prev" href="#teamCarousel" role="button" data-slide="prev">
								<span class="carousel-control-prev-icon"></span>
							</a>
							<a class="carousel-control-next" href="#teamCarousel" role="button" data-slide="next">
								<span class="carousel-control-next-icon"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer"><button type="button" class="btn btn-secondary" style="background:#ddd;" data-dismiss="modal">Close</button></div>
		</div>
	</div>
</div>
<script>
$("#pilotSummaryTrigger").on("click",function(){
	$("#pilotSummaryModal").modal("show");
	$.vPOST("/MUACSIM/tplanner/modules/ManageUsers/server/readPilotTotalHours.php",null,function(resp){
		$.parseJSON(resp).map(function(u){
			$("#pilotSummaryModal table tr[data="+u.userID+"] td").eq(0).html(u.minutesWorked.reduce(function(a,b){return a+b},0)/60);
			$("#pilotSummaryModal table tr[data="+u.userID+"] td").eq(1).html(u.pointsSince2014);
			$("#pilotSummaryModal table tr[data="+u.userID+"] td").eq(2).html(u.miles);
		});
	});
});
$.getJSON("https://muacsim.nl/MUACSIM/tplanner/rgrid.json?nocache="+Date.now(),function(o){
	$("#carouselLegend").html(atob(o.legend));
	$(".carousel-inner").html(atob(o.grid));
	$("#pilotSummaryModal table tbody").html(atob(o.phours));
	$(".carousel-item").first().addClass("active");
	$("#team_SummaryTrigger").on("click",function(){
		$("#team_SummaryModal").modal("show");
		setTimeout(function(){
			$("#carouselLegend td").first().height($(".carousel-item.active td").first().height()+1);
			$("#team_SummaryModal").scrollTop(40);
		},400);
	});
	if(document.cookie.match(/authAppUserID=\d\d/))$(".hide-sick").not(".hide-sick-"+document.cookie.match(/authAppUserID=(\d+)/)[1]).html("");
});
</script>
</div></div></body></html>
