<!DOCTYPE html>
<html>
<head>
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta http-equiv="Content-Security-Policy" content="data: 'unsafe-inline'; connect-src * 'unsafe-inline';" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script>if(!document.cookie.match(/authAppUserID=\d+/))location.assign('../../SessionControl/views/SessionControl.html')</script>
<link rel="stylesheet" href="../../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../../css/font-awesome.min.css">
<script src="../../../../../cordova.js"></script>
<script src="../../../lib/jquery-3.1.1.min.js"></script>
<script src="../../../lib/tether.min.js"></script>
<script src="../../../lib/bootstrap.min.js"></script>
<script src="../../../lib/long-press-event.min.js"></script>
<script src="../../../lib/pg.js"></script>
<style>.highlight{background:lightyellow}.carousel-control-prev,.carousel-control-next{opacity:0!important}</style>
</head>
<body>
<div style="border-bottom:2px solid navy;text-align:right;padding:0.4em 1em;"><img src="../../../img/eurocontrol_logo.png" style="height:3vw;" /></div>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" href="#">&nbsp;</a>
	
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link" style="padding:0.5em 2em;" href="../../MyDuties/views/MyDuties.html">My duties</a></li>
			<li class="nav-item"><a class="nav-link" style="padding:0.5em 2em;" href="../../MyDuties/views/Request.html">Request duty</a></li>
			<li class="nav-item"><a class="nav-link" style="padding:0.5em 2em;" href="../../Planner/views/MiniPlanner.html">MiniPlanner</a></li>
			<li class="nav-item"><a class="nav-link" style="padding:0.5em 2em;" href="../../LeaveAbsences/views/Sick.html">Report sick</a></li>
			<li class="nav-item"><a class="nav-link" style="padding:0.5em 2em;" href="#" id="pilotSummaryTrigger">Pilot hours</a></li>
			<li class="nav-item"><a class="nav-link" style="padding:0.5em 2em;" href="#" id="team_SummaryTrigger">Team roster</a></li>
		</ul>
	</div>
</nav>
<div class="row" style="margin:1em 0;"><div class="col-lg-12 col-xl-10 offset-xl-1">
<div class="row content-main" style="margin:0;"></div>
<script src="../../../modules/Planner/js/SimRemoteControl.js"></script>
<div class="modal fade" id="pilotSummaryModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><table style="width:100%;"><thead><tr><th></th><th>Hours</th><th>Points</th><th>Miles</th></tr></thead><tbody></tbody></table></div>
			<div class="modal-footer"><button type="button" class="btn btn-secondary" style="background:#ddd;" data-dismiss="modal">Close</button></div>
		</div>
	</div>
</div>
<div class="modal fade" id="team_SummaryModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body" style="padding:10px;">
				<div class="row" style="width:105%;">
					<div class="col-sm-4" style="padding-right:0;">
						<table style="border-bottom:1px solid #666;border-left:1px solid #666;width:100%;"><tbody id="carouselLegend"></tbody></table>
					</div>
					<div class="col-sm-8" style="padding:0;">
						<div id="teamCarousel" class="carousel slide">
							<div class="carousel-inner"></div>
							<a class="carousel-control-prev" href="#teamCarousel" role="button" data-slide="prev">
								<span class="carousel-control-prev-icon"></span>
							</a>
							<a class="carousel-control-next" href="#teamCarousel" role="button" data-slide="next">
								<span class="carousel-control-next-icon"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer"><button type="button" class="btn btn-secondary" style="background:#ddd;" data-dismiss="modal">Close</button></div>
		</div>
	</div>
</div>
<script>
$("#pilotSummaryTrigger").on("click",function(){
	$("#pilotSummaryModal").modal("show");
	$.vPOST("/MUACSIM/tplanner/modules/ManageUsers/server/readPilotTotalHours.php",null,function(resp){
		$.parseJSON(resp).map(function(u){
			$("#pilotSummaryModal table tr[data="+u.userID+"] td").eq(0).html(u.minutesWorked.reduce(function(a,b){return a+b},0)/60);
			$("#pilotSummaryModal table tr[data="+u.userID+"] td").eq(1).html(u.pointsSince2014);
			$("#pilotSummaryModal table tr[data="+u.userID+"] td").eq(2).html(u.miles);
		});
	});
});
$.getJSON("https://muacsim.nl/MUACSIM/tplanner/rgrid.json?nocache="+Date.now(),function(o){
	$("#carouselLegend").html(atob(o.legend));
	$(".carousel-inner").html(atob(o.grid));
	$("#pilotSummaryModal table tbody").html(atob(o.phours));
	$(".carousel-item").first().addClass("active");
	$("#team_SummaryTrigger").on("click",function(){
		$("#team_SummaryModal").modal("show");
		setTimeout(function(){
			$("#carouselLegend td").first().height($(".carousel-item.active td").first().height()+1);
			$("#team_SummaryModal").scrollTop(40);
		},400);
	});
	if(document.cookie.match(/authAppUserID=\d\d/))$(".hide-sick").not(".hide-sick-"+document.cookie.match(/authAppUserID=(\d+)/)[1]).html("");
});
</script>
</div></div></body></html>
